<h2 class="mb-3">Cryptic Puzzles by Emily Cox & Henry Rathvon</h2>

<!-- Search -->
<div class="input-group mb-3">
  <input type="text" class="form-control" onKeyUp="searchPuzzles();" onFocus="this.select();" placeholder="Search titles"
    id="search-query" aria-label="Search titles" aria-describedby="search-query-button">
  <!-- <button class="btn btn-outline-secondary" type="button" id="search-query-button">Search</button> -->
</div>

<div id="puzzles" class="list-group mb-5">
  {% for puzzle in puzzles %}
  <!-- Puzzle -->
  <div id="puzzle-{{ puzzle.id }}" class="justify-content-start list-group-item">
    <div class="row">

      <!-- Puzzle Date -->
      <div class="col col-sm-2 justify-content-start text-nowrap me-3">
        <code class="">{{ puzzle.date }}</code>
      </div>

      <!-- Puzzle Title -->
      <div class="col d-flex justify-content-start puzzle-title" data-title="{{ puzzle.title }}">
        <a href="/puzzles/{{ puzzle.id }}">{{ puzzle.title }}</a>
      </div>

      <!-- Puzzle Publication -->
      <div class="col d-flex justify-content-end">
        <div>
        {% if puzzle.publication == "atlantic" %}
        <span class="badge rounded-pill bg-primary">{{ puzzle.publication }}</span>
        {% else %}
        <span class="badge rounded-pill bg-success">{{ puzzle.publication }}</span>
        {% endif %}
        </div>
      </div>


    </div>

  </div>
  {% endfor %}
</div>
