<h1 class="display-4">{{ puzzle.title }}</h1>

<em class="fs-4" style="font-family: times;">a cryptic puzzle by <b>Emily Cox & Henry Rathvon</b></em>

<hr>

<div class="mb-3">
    <!-- Puzzle Dropdown -->
    {% if pdf_url %}
    <div class="btn-group">
        <div class="dropdown">
            <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Puzzle
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/puzzles/{{ puzzle.id }}/pdf">Download PDF</a></li>
                <li><a class="dropdown-item" href="{{ pdf_url }}">View PDF</a></li>
            </ul>
        </div>
    </div>
    {% endif %}

    {% if solution_url %}
    <!-- Solution Button -->
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#solutionModal">
            Solution
        </button>
    </div>

    <!-- Solution Modal -->
    <div class="modal fade" id="solutionModal" tabindex="-1" aria-labelledby="solutionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="solutionModalLabel">Solution for {{ puzzle.title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{ solution_url }}" class="border img-fluid mx-auto d-block" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if image_url %}
<img src="{{ image_url }}" class="border img-fluid mx-auto d-block" alt="">
{% else %}
<p>No image available.</p>
{% endif %}
<hr>

<!-- Copyright Notice -->
Copyright &copy; 2023 - Emily Cox & Henry Rathvon</br>

<!-- Original Publisher and Publish Date -->
<p style="font-size: x-small;"><em>
{%- if puzzle.publication == "atlantic" %}
    Originally published in the <b>{{ puzzle.issue }}</b> issue of
    <b>The Atlantic</b>.
{%- elif puzzle.publication == "wsj" %}
    Originally published in <b>The Wall Street Journal</b> on
    <b>{{ puzzle.date.strftime("%A, %B %d, %Y") }}</b>.<br>
{%- endif %}
</em></p>
